:root{
    background-color: #f8f8f8;
}
*{
    margin: 0;
    box-sizing: border-box;
}

@keyframes move_up{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}

main{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}
@media screen and (min-width:992px) and (max-width:1199px){
    main{
        width: 960px;
        margin: 0 auto;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    main{
        width: 720px;
        margin: 0 auto;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    main{
        width: 540px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 575px){
    main{
        width: 100%;
        margin: 0 auto;
        padding-top: 80px;
    }
}


div.page_guide{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 10px;  
}

div.page_guide::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/thom-holmes-nx0RXgbOH1o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

div.page_guide > h2{
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50% , -50%);
    /* margin-top: 250px; */
    font-size: 32px;
    color: black;
    z-index: 5;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div.page_guide{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 400px;
        text-align: center;
        margin-top: 10px;  
    }
    
    div.page_guide::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/thom-holmes-nx0RXgbOH1o-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    
    div.page_guide > h2{
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(-50% , -50%);
        /* margin-top: 250px; */
        font-size: 32px;
        color: black;
        z-index: 5;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div.page_guide{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 400px;
        text-align: center;
        margin-top: 10px;  
    }
    
    div.page_guide::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/thom-holmes-nx0RXgbOH1o-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    
    div.page_guide > h2{
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(-50% , -50%);
        font-size: 32px;
        color: black;
        z-index: 5;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div.page_guide{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 100px 0px;
        text-align: center;
        margin-top: 10px;  
        display: none;
    }
    
    div.page_guide::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/thom-holmes-nx0RXgbOH1o-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    
    div.page_guide > h2{
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(-50% , -50%);
        /* margin-top: 250px; */
        font-size: 32px;
        color: black;
        z-index: 5;
    }
}
@media screen and (max-width: 575px){
    div.page_guide{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 100px 0px;
        text-align: center;
        margin-top: 10px;  
        display: none;
    }
    
    div.page_guide::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/thom-holmes-nx0RXgbOH1o-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    
    div.page_guide > h2{
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(-50% , -50%);
        /* margin-top: 250px; */
        font-size: 32px;
        color: black;
        z-index: 5;
    }
}

div#story,
div#think,
div#advantage,
div#insist{
    display: flex;
    margin-top: 80px;
}

div#think,
div#advantage,
div#insist{
    transform: translateY(50%);
}

.move_up{
    animation-name: move_up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#story,
    div#think,
    div#advantage,
    div#insist{
        width: 960px;
        display: flex;
        margin-top: 80px;
    }

    div#think,
    div#advantage,
    div#insist{
        transform: translateY(50%);
    }

    .move_up{
        animation-name: move_up;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#story,
    div#think,
    div#advantage,
    div#insist{
        width: 720px;
        display: block;
        margin-top: 80px;
        position: relative;
    }

    div#think,
    div#advantage,
    div#insist{
        transform: translateY(50%);
    }

    .move_up{
        animation-name: move_up;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#story,
    div#think,
    div#advantage,
    div#insist{
    display: block;
    margin-top: 110px;
    position: relative;
    }

    div#think,
    div#advantage,
    div#insist{
    transform: translateY(0);
    }

    .move_up{
    animation-name: none;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
}
@media screen and (max-width: 575px){
    div#story,
    div#think,
    div#advantage,
    div#insist{
    display: block;
    margin-top: 110px;
    position: relative;
    }

    div#think,
    div#advantage,
    div#insist{
    transform: translateY(0);
    }

    .move_up{
    animation-name: none;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
}


div#story div.intro_picture,
div#advantage div.advantage_picture{
    margin-left: 100px;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#story div.intro_picture,
    div#advantage div.advantage_picture{
    margin-left: 50px;
    margin: auto 0 auto 50px;
    }
    div#story div.intro_picture > img,
    div#advantage div.advantage_picture > img{
        width: 450px;
        max-width: 100%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#story div.intro_picture,
    div#advantage div.advantage_picture{
    margin: auto;
    width: 80%;
    text-align: center;
    }
    div#story div.intro_picture > img,
    div#advantage div.advantage_picture > img{
        width: 400px;
        max-width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#story div.intro_picture,
    div#advantage div.advantage_picture{
        margin:0 auto;
        text-align: center;
    }
    div#story div.intro_picture > img,
    div#advantage div.advantage_picture > img{
        width: 100%;
        max-width: 100%;
    }

}
@media screen and (max-width: 575px){
    div#story div.intro_picture,
    div#advantage div.advantage_picture{
        margin:0 auto;
    }
    div#story div.intro_picture > img,
    div#advantage div.advantage_picture > img{
        width: 100%;
        max-width: 100%;
    }

}

div#story article.story_article,
div#think article.think_article,
div#advantage article.advantage_article,
div#insist article.insist_article{
    margin: 0 auto;
    width: 500px;
    height: 400px;
}

div#story article.story_article,
div#insist article.insist_article{
    margin-top: 30px;
}

@media screen and (min-width:992px) and (max-width:1199px){
    div#story article.story_article,
    div#think article.think_article,
    div#advantage article.advantage_article,
    div#insist article.insist_article{
        margin: 0 auto;
        width: 500px;
        padding: 0 10px;
        height: auto;
    }

    div#story article.story_article,
    div#insist article.insist_article{
        margin-top: 0px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#story article.story_article,
    div#think article.think_article,
    div#advantage article.advantage_article,
    div#insist article.insist_article{
        margin: 0 auto;
        width: 100%;
        padding: 0 10px;
        height: auto;
    }

    div#story article.story_article,
    div#insist article.insist_article{
        margin-top: 0px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#story article.story_article,
    div#think article.think_article,
    div#advantage article.advantage_article,
    div#insist article.insist_article{
    margin: 0 auto;
    width: 100%;
    height: auto;
    }

    div#story article.story_article,
    div#insist article.insist_article{
    margin-top: 30px;
    }    
}
@media screen and (max-width: 575px){
    div#story article.story_article,
    div#think article.think_article,
    div#advantage article.advantage_article,
    div#insist article.insist_article{
    margin: 0 auto;
    width: 100%;
    height: auto;
    }

    div#story article.story_article,
    div#insist article.insist_article{
    margin-top: 30px;
    }    
}

div#story article.story_article h2,
div#think article.think_article h2,
div#advantage article.advantage_article h2,
div#insist article.insist_article h2{
    text-align: center;
    padding: 5px 10px;
    font-size: 32px;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#story article.story_article h2,
    div#think article.think_article h2,
    div#advantage article.advantage_article h2,
    div#insist article.insist_article h2{
        text-align: center;
        padding: 5px 10px;
        font-size: 32px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#story article.story_article h2,
    div#think article.think_article h2,
    div#advantage article.advantage_article h2,
    div#insist article.insist_article h2{
        text-align: center;
        padding: 5px 10px;
        font-size: 32px;
        margin-top: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#story article.story_article h2,
    div#think article.think_article h2,
    div#advantage article.advantage_article h2,
    div#insist article.insist_article h2{
    position: absolute;
    width: 90%;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 10px;
    font-size: 32px;
    }
}
@media screen and (max-width: 575px){
    div#story article.story_article h2,
    div#think article.think_article h2,
    div#advantage article.advantage_article h2,
    div#insist article.insist_article h2{
    position: absolute;
    width: 90%;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 10px;
    font-size: 32px;
    }
}


div#think div.think_picture,
div#insist div.insist_picture{
    order: 2;
    margin-right: 100px;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#think div.think_picture,
    div#insist div.insist_picture{
        order: 2;
        margin-right: 50px;
        margin: auto 50px auto 0px;
    }
    div#think div.think_picture > img,
    div#insist div.insist_picture img{
        width: 450px;
        max-width: 100%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#think div.think_picture,
    div#insist div.insist_picture{
        margin: auto ;
        text-align: center;
    }
    div#think div.think_picture > img,
    div#insist div.insist_picture img{
        width: 400px;
        max-width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#think div.think_picture,
    div#insist div.insist_picture{
        order: 2;
        margin: 0 auto;
        text-align: center ;
    }
    div#think div.think_picture > img,
    div#insist div.insist_picture > img{
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 575px){
    div#think div.think_picture,
    div#insist div.insist_picture{
        order: 2;
        margin: 0 auto;
    }
    div#think div.think_picture > img,
    div#insist div.insist_picture > img{
        width: 100%;
        max-width: 100%;
    }
}


div#story article.story_article > p,
div#think article.think_article > p,
div#advantage article.advantage_article > p,
div#insist article.insist_article >p{
    margin-top: 30px;
    padding: 5px 10px;
    line-height: 2rem;
    font-size: 20px;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#story article.story_article > p,
    div#think article.think_article > p,
    div#advantage article.advantage_article > p,
    div#insist article.insist_article >p{
        margin-top: 30px;
        padding: 5px 25px;
        line-height: 1.8rem;
        font-size: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#story article.story_article > p,
    div#think article.think_article > p,
    div#advantage article.advantage_article > p,
    div#insist article.insist_article >p{
        margin-top: 10px;
        padding: 5px 100px;
        line-height: 1.8rem;
        font-size: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#story article.story_article > p,
    div#think article.think_article > p,
    div#advantage article.advantage_article > p,
    div#insist article.insist_article >p{
    margin-top: 30px;
    padding: 5px 20px;
    line-height: 2rem;
    font-size: 20px;
    }
}
@media screen and (max-width: 575px){
    div#story article.story_article > p,
    div#think article.think_article > p,
    div#advantage article.advantage_article > p,
    div#insist article.insist_article >p{
    margin-top: 30px;
    padding: 5px 20px;
    line-height: 2rem;
    font-size: 20px;
    }
}

div#advantage div.advantage_picture > img{
    margin-top: 40px;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div#advantage div.advantage_picture > img{
        margin-top: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div#advantage div.advantage_picture > img{
        margin-top: 0px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div#advantage div.advantage_picture > img{
        margin-top: 0px;
        vertical-align: top;
    } 
}
@media screen and (max-width: 575px){
    div#advantage div.advantage_picture > img{
        margin-top: 0px;
    } 
}
