:root{
    background-color: #f8f8f8;
}

@font-face {
    font-family: "noto-regular";
    src: url(../font/NotoSansTC-Regular.otf);
    font-display: swap;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "noto-regular";
}

main{
    width: 1200px;
    margin: 0 auto;
}

div.page_guide{
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    background-color: #ededed;
    text-align: center;
    vertical-align: bottom;  
}

div.page_guide > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 100px;
    padding-top: 80px;
}

div.page_guide > a:hover{
    color: #ffd900;
}

div.page_guide > a:nth-child(1){
    background-image: url(../icon/return-box.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center top -5px;
}

div.page_guide > a:nth-child(2){
    background-image: url(../icon/livejournal.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center top 5px;
}

div.page_guide > a:nth-child(3){
    background-image: url(../icon/pickup-truck.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center top 0px;
}

div.inside{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
}

/* 側邊攔開始 */

aside.aside{
    margin-top: 20px;
    position: sticky;
    top: 20px;
    bottom: 100px;
}

aside.aside,
aside.aside h2,
aside.aside section{
    width: 200px;
    text-align: left;
}



aside.aside section > input{
    display: none;
}

aside.aside section > label{
    display: inline-block;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    background-image: url(../icon/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position:right 50px top 8px ;
    cursor: pointer;
}

aside.aside section > ul{
    display: none;
}

aside.aside section > input:checked ~ label{
    background-image: url(../icon/up-chevron.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 50px top 8px ;
}

aside.aside section > input:checked ~ ul{
    display: block;
}

aside.aside section > ul{
    padding: 0;
}

aside.aside section > ul > li{
    margin-top: 10px;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
} 

aside.aside section > ul > li >a{
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
} 

aside.aside section > ul >li.item1{
    background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right 40px top 3px ;
}

aside.aside section > ul >li.item2{
    background-image: url(../images/CAP/img_color02-8.png);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: right 35px top -10px ;
}

aside.aside section > ul >li.item3{
    background-image: url(../images/buscket_hat/0853011-001-08.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top 0px ;
}

aside.aside section > ul >li.item4{
    background-image: url(../images/buscket_hat/0853011-001-09.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top 0px ;
}

aside.aside section > ul >li.item5{
    background-image: url(../images/baseball_hat/2-2.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: right 40px top 0px ;
}

aside.aside section > ul >li.item6{
    background-image: url(../images/baseball_hat/TRC-55_05_s.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top -2px ;
}

aside.aside section > ul >li.item7{
    background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top -2px ;
}


/* 側邊攔結束 */


div.middle{
    width: 900px;
    margin: 0 auto;
}

div.middle div.qa_block > h3{
    font-size: 22px;
    border-bottom: 3px solid #737578;
    margin-bottom: 30px;
    margin-top: 50px;
}

div.middle div.qa_block h3#first_part{
    margin-top: 20px;
}

div.middle div.qa_block_list{
    margin: 20px 0 ;
}

div.qa_block_list label.open{
    background-color: #fbf2de;
    padding: 10px 40px;
    width: 900px;
    display: inline-block;
    background-image: url(../icon/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position:right 6px top 10px;
    position: relative;
    padding: 15px 60px;
    cursor: pointer;
}


label.open span.q_icon {
    position: absolute;
    left: 15px;
    top: 15px;
}

input#block_q1,
input#block_q2,
input#block_q3,
input#block_q4,
input#block_q5,
input#block_q6,
input#block_q7,
input#block_q8,
input#block_q9,
input#block_q10,
input#block_q11,
input#block_q12,
input#block_q13,
input#block_q14,
input#block_q15{
    display: none;
    transition: 2s;
    
}

input#block_q1:checked ~ label.back,
input#block_q2:checked ~ label.back,
input#block_q3:checked ~ label.back,
input#block_q4:checked ~ label.back,
input#block_q5:checked ~ label.back,
input#block_q6:checked ~ label.back,
input#block_q7:checked ~ label.back,
input#block_q8:checked ~ label.back,
input#block_q9:checked ~ label.back,
input#block_q10:checked ~ label.back,
input#block_q11:checked ~ label.back,
input#block_q12:checked ~ label.back,
input#block_q13:checked ~ label.back,
input#block_q14:checked ~ label.back,
input#block_q15:checked ~ label.back{
    display: block;
    transition: 2s;
    cursor: pointer;
}

input#block_q1:checked ~ label.open,
input#block_q2:checked ~ label.open,
input#block_q3:checked ~ label.open,
input#block_q4:checked ~ label.open,
input#block_q5:checked ~ label.open,
input#block_q6:checked ~ label.open,
input#block_q7:checked ~ label.open,
input#block_q8:checked ~ label.open,
input#block_q9:checked ~ label.open,
input#block_q10:checked ~ label.open,
input#block_q11:checked ~ label.open,
input#block_q12:checked ~ label.open,
input#block_q13:checked ~ label.open,
input#block_q14:checked ~ label.open,
input#block_q15:checked ~ label.open{
    background-image: url(../icon/up-chevron.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position:right 6px top 10px;
}

label.back{
    display: none;
    padding: 15px 60px;
    width: 900px;
    position: relative;
    border: 1px solid black;

}

label.back span.a_icon{
    position: absolute;
    left: 15px;
    top: 15px;
}

/* 聯絡我們 */

div.anyquestion{
    width: 900px;
    margin: 50px auto;
}

div.anyquestion  h2{
    text-align: center;
    margin: 30px 0;
    font-size: 22px;
}

div.anyquestion form.qa_form{
    border: 1px solid black;
    border-radius: 8px;
    width: 600px;
    margin: 0 auto;
    background-color:#f8f8f8 ;
}

div.anyquestion form.qa_form div.qa_block{
    margin: 30px auto;
}

div.anyquestion form.qa_form div.qa_block > label{
    display: block;
    padding: 10px 0;
    margin-left: 130px;
}

div.anyquestion form.qa_form div.qa_block > input{
    display: block;
    width: 300px;
    padding: 10px;
    margin-left: 130px;
    transition: 0.3s;
    border: 1px solid #737578;
}

div.anyquestion form.qa_form div.qa_block > input:focus{
    border: 1px solid #737578;
    box-shadow: 2px 2px 5px 1px #737578;
    outline: none;
}

div.anyquestion form.qa_form div.question{
    margin: 30px 0;
}

div.anyquestion form.qa_form div.question > p{
    padding: 10px 0;
    margin-left: 130px;
}

div.anyquestion form.qa_form div.question > textarea{
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

div.anyquestion form.qa_form div.question > textarea:focus{
    box-shadow: 2px 2px 5px 1px #737578;
    outline: none;
}

div.anyquestion form.qa_form > p{
    text-align: center;
    margin-bottom: 30px;
}

div.anyquestion form.qa_form >  a{
    width: 150px;
    display:block;
    margin: 20px auto;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    color: #f8f8f8;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

div.anyquestion form.qa_form > a:hover{
    background-color: #ffd900;
    color: black;
}

@keyframes fadein{
    0%{
      opacity:0;
    }
    100%{
      opacity:1
    }
}
  
@keyframes fadeout{
    0%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
}
  
div#qa_alert{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    display:none;
}
  
#qa_jump{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px;
    padding:50px 0;
    background-color:white;
    text-align:center;
    border-radius:30px;
    z-index: 999;
}

#qa_jump > h1{
    margin: 50px 0;
}

#qa_close{
    appearance: none;
    padding: 15px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.fadein{
    opacity:0;
    animation:fadein 1s ease 1 forwards;
}
  
.fadeout{
    opacity:1;
    animation:fadeout 1s ease 1 forwards;
}