:root{
    background-color: #f8f8f8;
}
*{
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 1200px;
    margin: 0 auto ;
    max-width: 100%;
}
@media screen and (min-width:992px) and (max-width:1199px){
    main{
        width: 960px;
        margin: 0 auto ;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    main{
        width: 720px;
        margin: 0 auto ;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    main{
        width: 540px;
        margin: 0 auto ;
    }
}
@media screen and (max-width: 575px){
    main{
        width: 100%;
        margin: 0 auto ;
    }
}

div.page_guide{
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #ededed;
    text-align: center;  
}
@media screen and (min-width:992px) and (max-width:1199px){
    div.page_guide{
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px;
        width: 100%;
        background-color: #ededed;
        text-align: center;  
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div.page_guide{
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px;
        width: 100%;
        background-color: #ededed;
        text-align: center;  
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div.page_guide{
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        background-color: #ededed;
        text-align: center;  
    }
}
@media screen and (max-width: 575px){
    div.page_guide{
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        background-color: #ededed;
        text-align: center;  
    }
}

div.inside{
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    max-width: 100%;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div.inside{
        width: 960px;
        margin: 0 auto;
        display: flex;
        margin-top: 50px;
        align-items: flex-start;
        padding: 0 30px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div.inside{
        width: 720px;
        margin: 0 auto;
        display: flex;
        margin-top: 50px;
        align-items: flex-start;
        padding: 0 10px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div.inside{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: flex-start;
    }
}
@media screen and (max-width: 575px){
    div.inside{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: flex-start;
    }
}

/* 側邊攔開始 */

aside.aside{
    position: sticky;
    top: 20px;
    bottom: 100px;
}

aside.aside,
aside.aside h2,
aside.aside section{
    width: 200px;
    text-align: left;
}

aside.aside button#aside_open{
    display: none;
}

aside.aside section > input{
    display: none;
    cursor: pointer;
}

aside.aside section > label{
    display: inline-block;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    background-image: url(../icon/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position:right 50px top 8px ;
    cursor: pointer;
}

aside.aside section > ul{
    display: none;
}

aside.aside section > input:checked ~ label{
    background-image: url(../icon/up-chevron.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 50px top 8px ;
}

aside.aside section > input:checked ~ ul{
    display: block;
}

aside.aside section > ul{
    padding: 0;
}

aside.aside section > ul > li{
    margin-top: 10px;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
} 

aside.aside section > ul > li >a{
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
} 

aside.aside section > ul >li.item1{
    background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right 40px top 3px ;
}

aside.aside section > ul >li.item2{
    background-image: url(../images/CAP/img_color02-8.png);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: right 35px top -10px ;
}

aside.aside section > ul >li.item3{
    background-image: url(../images/buscket_hat/0853011-001-08.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top 0px ;
}

aside.aside section > ul >li.item4{
    background-image: url(../images/buscket_hat/0853011-001-09.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top 0px ;
}

aside.aside section > ul >li.item5{
    background-image: url(../images/baseball_hat/2-2.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: right 40px top 0px ;
}

aside.aside section > ul >li.item6{
    background-image: url(../images/baseball_hat/TRC-55_05_s.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top -2px ;
}

aside.aside section > ul >li.item7{
    background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right 35px top -2px ;
}
@media screen and (min-width:992px) and (max-width:1199px){
    aside.aside{
        position: sticky;
        top: 20px;
        bottom: 100px;
    }
    
    aside.aside,
    aside.aside h2,
    aside.aside section{
        width: 200px;
        text-align: left;
    }
    
    aside.aside button#aside_open{
        display: none;
    }
    
    aside.aside section > input{
        display: none;
        cursor: pointer;
    }
    
    aside.aside section > label{
        display: inline-block;
        width: 200px;
        font-size: 20px;
        margin-top: 30px;
        background-image: url(../icon/down-arrow.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position:right 50px top 8px ;
        cursor: pointer;
    }
    
    aside.aside section > ul{
        display: none;
    }
    
    aside.aside section > input:checked ~ label{
        background-image: url(../icon/up-chevron.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right 50px top 8px ;
    }
    
    aside.aside section > input:checked ~ ul{
        display: block;
    }
    
    aside.aside section > ul{
        padding: 0;
    }
    
    aside.aside section > ul > li{
        margin-top: 10px;
        list-style: none;
        padding: 5px 15px;
        cursor: pointer;
    } 
    
    aside.aside section > ul > li >a{
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    } 
    
    aside.aside section > ul >li.item1{
        background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 40px top 3px ;
    }
    
    aside.aside section > ul >li.item2{
        background-image: url(../images/CAP/img_color02-8.png);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: right 35px top -10px ;
    }
    
    aside.aside section > ul >li.item3{
        background-image: url(../images/buscket_hat/0853011-001-08.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right 35px top 0px ;
    }
    
    aside.aside section > ul >li.item4{
        background-image: url(../images/buscket_hat/0853011-001-09.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right 35px top 0px ;
    }
    
    aside.aside section > ul >li.item5{
        background-image: url(../images/baseball_hat/2-2.png);
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 40px top 0px ;
    }
    
    aside.aside section > ul >li.item6{
        background-image: url(../images/baseball_hat/TRC-55_05_s.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right 35px top -2px ;
    }
    
    aside.aside section > ul >li.item7{
        background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right 35px top -2px ;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    aside.aside{
        position: sticky;
        top: 20px;
        bottom: 100px;
        width: 180px;
    }
    
    aside.aside h2{
        margin-top: 0px;
        width: 100%;
        color: black;
        padding: 10px;
        text-align: left;
    }
    aside.aside section{
        width: 80%;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    aside.aside section > input{
        display: none;
    }
    
    aside.aside section > label{
        display: inline-block;
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
        background-image: url(../icon/down-arrow.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position:right 20px top 50% ;
        cursor: pointer;
    }
    
    aside.aside section > ul{
        display: none;
        padding: 0;
    }
    
    aside.aside section > input:checked ~ label{
        background-image: url(../icon/up-chevron.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right 20px top 50% ;
    }
    
    aside.aside section > input:checked ~ ul{
        display: block;
    }
    
    aside.aside section > ul > li{
        margin-top: 10px;
        list-style: none;
        padding: 5px 5px;
        cursor: pointer;
    } 
    
    aside.aside section > ul > li >a{
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    } 
    
    aside.aside section > ul >li.item1{
        background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 1% top 50% ;
    }
    
    aside.aside section > ul >li.item2{
        background-image: url(../images/CAP/img_color02-8.png);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item3{
        background-image: url(../images/buscket_hat/0853011-001-08.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item4{
        background-image: url(../images/buscket_hat/0853011-001-09.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item5{
        background-image: url(../images/baseball_hat/2-2.png);
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 0% top 50% ;
    }
    
    aside.aside section > ul >li.item6{
        background-image: url(../images/baseball_hat/TRC-55_05_s.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item7{
        background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    aside.aside{
        margin-top: 0px;
        position: fixed;
        top: 0px;
        left: 0;
        transform: translateX(-100%);
        order: 2;
        width: 180px;
        background-color: #ededed;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
    }

    .aside-on{
        transform:translateX(0%) !important;
    }


    aside.aside button#aside_open{
        display: inline-block;
        border: 0;
        width: 30px;
        border-radius: 0px 10px 10px 0px;
        padding: 20px 10px 30px 10px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        background-color: #ededed;
        z-index: 100;
        background-image: url(../icon/next_black.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: bottom 10px center;
    }

    aside.aside button.aside-open{
        background-image: url(../icon/previous.png) !important;
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: bottom 10px center;
    }

    aside.aside h2{
        margin-top: 70px;
        width: 100%;
        color: black;
        padding-left: 10%;
        text-align: left;
    }
    aside.aside section{
        width: 80%;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    aside.aside section > input{
        display: none;
    }
    
    aside.aside section > label{
        display: inline-block;
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
        background-image: url(../icon/down-arrow.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position:right 0 top 50% ;
        cursor: pointer;
    }
    
    aside.aside section > ul{
        display: none;
        padding: 0;
    }
    
    aside.aside section > input:checked ~ label{
        background-image: url(../icon/up-chevron.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right 0 top 50% ;
    }
    
    aside.aside section > input:checked ~ ul{
        display: block;
    }
    
    aside.aside section > ul > li{
        margin-top: 10px;
        list-style: none;
        padding: 5px 10px;
        cursor: pointer;
    } 
    
    aside.aside section > ul > li >a{
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    } 
    
    aside.aside section > ul >li.item1{
        background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 1% top 50% ;
    }
    
    aside.aside section > ul >li.item2{
        background-image: url(../images/CAP/img_color02-8.png);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item3{
        background-image: url(../images/buscket_hat/0853011-001-08.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item4{
        background-image: url(../images/buscket_hat/0853011-001-09.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item5{
        background-image: url(../images/baseball_hat/2-2.png);
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 0% top 50% ;
    }
    
    aside.aside section > ul >li.item6{
        background-image: url(../images/baseball_hat/TRC-55_05_s.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item7{
        background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
}
@media screen and (max-width: 575px){
    aside.aside{
        margin-top: 0px;
        position: fixed;
        top: 0px;
        left: 0;
        transform: translateX(-100%);
        order: 2;
        width: 180px;
        background-color: #ededed;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
    }

    .aside-on{
        transform:translateX(0%) !important;
    }


    aside.aside button#aside_open{
        display: inline-block;
        border: 0;
        width: 30px;
        border-radius: 0px 10px 10px 0px;
        padding: 20px 5px 30px 5px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        background-color: #ededed;
        z-index: 100;
        background-image: url(../icon/next_black.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: bottom 10px center;
    }

    aside.aside button.aside-open{
        background-image: url(../icon/previous.png) !important;
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: bottom 10px center;
    }

    aside.aside h2{
        margin-top: 70px;
        width: 100%;
        color: black;
        padding-left: 10% ;
        text-align: left;
    }
    aside.aside section{
        width: 80%;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    aside.aside section > input{
        display: none;
    }
    
    aside.aside section > label{
        display: inline-block;
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
        background-image: url(../icon/down-arrow.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position:right 0 top 50% ;
        cursor: pointer;
    }
    
    aside.aside section > ul{
        display: none;
        padding: 0;
    }
    
    aside.aside section > input:checked ~ label{
        background-image: url(../icon/up-chevron.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right 0 top 50% ;
    }
    
    aside.aside section > input:checked ~ ul{
        display: block;
    }
    
    aside.aside section > ul > li{
        margin-top: 10px;
        list-style: none;
        padding: 5px 10px;
        cursor: pointer;
    } 
    
    aside.aside section > ul > li >a{
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    } 
    
    aside.aside section > ul >li.item1{
        background-image: url(../images/CAP/b2fda4edc80e63dca8a536a0d1d8bfbf.png);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 1% top 50% ;
    }
    
    aside.aside section > ul >li.item2{
        background-image: url(../images/CAP/img_color02-8.png);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item3{
        background-image: url(../images/buscket_hat/0853011-001-08.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item4{
        background-image: url(../images/buscket_hat/0853011-001-09.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item5{
        background-image: url(../images/baseball_hat/2-2.png);
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 0% top 50% ;
    }
    
    aside.aside section > ul >li.item6{
        background-image: url(../images/baseball_hat/TRC-55_05_s.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
    
    aside.aside section > ul >li.item7{
        background-image: url(../images/nethat/da3d8de8325fa9b34f708e89d584a1f9.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: right -2% top 50% ;
    }
}

/* 側邊攔結束 */

div.middle{
    margin: 0;
    /* padding: 0 40px; */
    flex: 1;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    gap: 35px;
    row-gap: 60px;
}

div.middle > section{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    transition: 0.5s ease;
}

div.middle > section > img{
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

div.middle > section:hover p,
div.middle > section:hover img{
    opacity: 0.7;
}

div.middle > section:hover > p{
    font-size: 20px;
}

div.middle > section:hover a.startmaking{
    visibility: visible;
    transform: translateY(-125px);
    
}

div.middle > section > p{
    text-align: center;
    margin-top: 10px;
    transition: 0.4s ;
}

div.middle > section > a.startmaking{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    visibility: hidden;
    background-color:black ;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0.9;
    transition: opcity 0s , visibility 0s , transform 0.6s;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div.middle{
        width: 700px;
        margin: 0;
        /* padding: 0 40px; */
        flex: 1;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr ;
        gap: 20px;
        row-gap: 60px;
    }
    
    div.middle > section{
        display: inline-block;
        /* width: calc((700px - 80px)/2); */
        margin: 10px;
        color: black;
        text-decoration: none;
        position: relative;
        transition: 0.5s ease;
    }
    
    div.middle > section:hover p,
    div.middle > section:hover img{
        opacity: 0.7;
    }
    
    div.middle > section:hover > p{
        font-size: 20px;
    }
    
    div.middle > section:hover a.startmaking{
        visibility: visible;
        transform: translateY(-100px);
        
    }
    
    div.middle > section > p{
        text-align: center;
        margin-top: 10px;
        transition: 0.4s ;
        font-size: 16px;
    }
    
    div.middle > section > a.startmaking{
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        visibility: hidden;
        background-color:black ;
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        opacity: 0.9;
        transition: opcity 0s , visibility 0s , transform 0.6s;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div.middle{
        width: 520px;
        margin: 0;
        display: block;
        padding:0 10px;
        font-size: 0;
    }
    
    div.middle > section{
        display: inline-block;
        width: calc((500px - 40px)/2);
        margin: 0 0 40px 20px;
        color: black;
        text-decoration: none;
        position: relative;
        transition: 0.5s ease;
    }
    
    div.middle > section:hover p,
    div.middle > section:hover img{
        opacity: 0.7;
    }
    
    div.middle > section:hover > p{
        font-size: 20px;
    }
    
    div.middle > section:hover a.startmaking{
        visibility: visible;
        transform: translateY(-100px);
        
    }
    
    div.middle > section > p{
        text-align: center;
        margin-top: 10px;
        transition: 0.4s ;
        font-size: 16px;
    }
    
    div.middle > section > a.startmaking{
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        visibility: hidden;
        background-color:black ;
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        opacity: 0.9;
        transition: opcity 0s , visibility 0s , transform 0.6s;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div.middle{
        width: 540px;
        margin: 0;
        display: block;
        padding:0 10px;
        font-size: 0;
    }
    
    div.middle > section{
        display: inline-block;
        width: calc((520px - 40px)/2);
        margin: 0 0 40px 20px;
        color: black;
        text-decoration: none;
        position: relative;
        transition: 0.5s ease;
    }
    
    div.middle > section:hover p,
    div.middle > section:hover img{
        opacity: 0.7;
    }
    
    div.middle > section:hover > p{
        font-size: 20px;
    }
    
    div.middle > section:hover a.startmaking{
        visibility: visible;
        transform: translateY(-100px);
        
    }
    
    div.middle > section > p{
        text-align: center;
        margin-top: 10px;
        transition: 0.4s ;
        font-size: 16px;
    }
    
    div.middle > section > a.startmaking{
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        visibility: hidden;
        background-color:black ;
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        opacity: 0.9;
        transition: opcity 0s , visibility 0s , transform 0.6s;
    }
}
@media screen and (max-width: 575px){
    div.middle{
        margin: 0 auto;
        padding: 0px;
        flex: 1;
        width: 100%;
        display: block;
    }
    
    div.middle > section{
        display: block;
        width: 100%;
        color: black;
        text-decoration: none;
        position: relative;
        transition: 0.5s ease;
        margin-bottom: 40px;
    }
    
    div.middle > section > img{
        max-width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    div.middle > section:hover p,
    div.middle > section:hover img{
        opacity: 0.7;
    }
    
    div.middle > section:hover > p{
        font-size: 20px;
    }
    
    div.middle > section:hover a.startmaking{
        visibility: visible;
        transform: translateY(0);
        
    }
    
    div.middle > section > p{
        text-align: center;
        margin-top: 10px;
        transition: 0.4s ;
    }
    
    div.middle > section > a.startmaking{
        display: block;
        position: static;
        width: 50%;
        margin: 10px auto;
        text-align: center;
        visibility: visible;
        background-color:black ;
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        transition: none;
        transition: opcity 0s , visibility 0s , transform 0.6s;
    }
}

/* 換頁 */

div.change_page{
    margin: 0 auto;
    margin-top: 50px;
    grid-column: 1 / span 3;
    font-size: 0;
}

div.change_page a{
    display: inline-block;
    width: 50px;
    padding: 10px 10px;
    border: 1px solid #737578 ;
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
}

div.change_page a:first-child{
    border-radius: 5px 0 0 5px;
}

div.change_page a:last-child{
    border-radius: 0 5px 5px 0;
}

div.change_page a:hover{
    background-color: #FFD900;
    font-weight: bold;
}
@media screen and (min-width:992px) and (max-width:1199px){
    div.change_page{
        margin: 0 auto;
        /* margin-top: 50px; */
        font-size: 0;
        text-align: center;
    }
    
    div.change_page a{
        display: inline-block;
        width: 50px;
        padding: 10px 10px;
        border: 1px solid #737578 ;
        font-size: 24px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    div.change_page a:first-child{
        border-radius: 5px 0 0 5px;
    }
    
    div.change_page a:last-child{
        border-radius: 0 5px 5px 0;
    }
    
    div.change_page a:hover{
        background-color: #FFD900;
        font-weight: bold;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    div.change_page{
        margin: 0 auto;
        margin-top: 20px;
        font-size: 0;
        text-align: center;
    }
    
    div.change_page a{
        display: inline-block;
        width: 50px;
        padding: 10px 10px;
        border: 1px solid #737578 ;
        font-size: 24px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    div.change_page a:first-child{
        border-radius: 5px 0 0 5px;
    }
    
    div.change_page a:last-child{
        border-radius: 0 5px 5px 0;
    }
    
    div.change_page a:hover{
        background-color: #FFD900;
        font-weight: bold;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    div.change_page{
        margin: 50px auto 20px auto;
        display: block;
        font-size: 0;
        text-align: center;
        width: 100%;
    }
    
    div.change_page a{
        display: inline-block;
        width: 50px;
        max-width: 10%;
        padding: 10px 10px;
        border: 1px solid #737578 ;
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    div.change_page a:first-child{
        border-radius: 5px 0 0 5px;
    }
    
    div.change_page a:last-child{
        border-radius: 0 5px 5px 0;
    }
    
    div.change_page a:hover{
        background-color: #FFD900;
        font-weight: bold;
    }
}
@media screen and (max-width: 575px){
    div.change_page{
        margin: 50px auto 20px auto;
        display: block;
        font-size: 0;
        text-align: center;
        width: 100%;
    }
    
    div.change_page a{
        display: inline-block;
        width: 50px;
        max-width: 10%;
        padding: 10px 10px;
        border: 1px solid #737578 ;
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    div.change_page a:first-child{
        border-radius: 5px 0 0 5px;
    }
    
    div.change_page a:last-child{
        border-radius: 0 5px 5px 0;
    }
    
    div.change_page a:hover{
        background-color: #FFD900;
        font-weight: bold;
    }
}